h1 {
    color: red;
}

p {
    color: blue;
    font-size: 16pt;
}

#primera-noticia {
    color: green;
    font-size: 12pt;
}

#segunda-noticia {
    color: pink;
    font-size: 12pt;
}
encabezado {
    font-size: 24pt;
    text-transform: uppercase;
}
